* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

.under-dev-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.under-dev-container .content{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.under-dev-container .content img{
    height: 100px;
}